*{
    padding: 0px;
}
body{
    
    background-image: url(../imagens/construction.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: yellow;

    
}
.text{
    font-size: 50px;
    text-align: center;
    margin-top: 500px;
    position: static;
}